<li>
    <section class="fr-accordion">
        <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="fr-accordion-<%= i %>-body-<%= i %>"><%= title %></button>
        </h3>
        <div class="fr-collapse" id="fr-accordion-<%= i %>-body-<%= i %>">
            <%= content %>
        </div>
    </section>
</li>