<li class="rf-accordion-group__item">
    <section class="rf-accordion">
        <h3 class="rf-accordion__title">
            <button class="rf-accordion__btn rf-accordion__btn--icon-right" aria-expanded="false" aria-controls="rf-accordion-group-<%= i %>-body-<%= i %>"><%= title %></button>
        </h3>
        <div class="rf-accordion__body" id="rf-accordion-group-<%= i %>-body-<%= i %>">
            <div class="rf-accordion__inner">
                <%= content %>
            </div>
        </div>
    </section>
</li>