<li>
    <section class="rf-accordion">
        <h3 class="rf-accordion__title">
            <button class="rf-accordion__btn" aria-expanded="false" aria-controls="rf-accordion-<%= i %>-body-<%= i %>"><%= title %></button>
        </h3>
        <div class="rf-collapse" id="rf-accordion-<%= i %>-body-<%= i %>">
            <%= content %>
        </div>
    </section>
</li>