<div class="rf-col-12 rf-col-md-<% if (locals.size) { %><%= size %><% } else { %>4<% } %>">
  <div class="rf-card">
    <% if (img) { %>
    <div class="rf-card__img">
        <img src="<%= img %>" />
    </div>
    <% } %>
    <div class="rf-card__body">
      <h2 class="rf-card__title"><a href="<%= url %>"><%= title %></a></h2>
      <p class="rf-card__desc"><%= description %></p>
    </div>
  </div>
</div>