<div class="fr-col-12 fr-col-md-<% if (locals.size) { %><%= size %><% } else { %>4<% } %>">
  <div class="fr-card fr-enlarge-link">
    <div class="fr-card__body">
      <h2 class="fr-card__title"><a href="<%= url %>" class="fr-card__link"><%= title %></a></h2>
      <p class="fr-card__desc"><%= description %></p>
    </div>
    <% if (locals.img) { %>
    <div class="fr-card__img">
        <img src="<%= img %>" />
    </div>
    <% } %>
  </div>
</div>