<% if (locals.card_type == "button") { %>
<div class="rf-col-md-12 rf-m-4v rf-p-2v">
	<button class="rf-btn" style="background-color: var(--<%= bg_color %>); color: var(--<%= fg_color %>);">
	    Ce bouton est en <%= fg_color %> sur fond <%= bg_color %>
	</button>
</div>
<% } else if (locals.card_type == "title") { %>
<div class="rf-col-md-12 rf-m-4v rf-p-2v">
	<h4 style="background-color: var(--<%= bg_color %>); color: var(--<%= fg_color %>);">
	    Ce titre est en <%= fg_color %> sur fond <%= bg_color %>
	</h4>
</div>
<% } else { %>
<div class="rf-col-md-12 rf-m-4v rf-p-2v" style="background-color: var(--<%= bg_color %>); color: var(--<%= fg_color %>);">
	<p>Ce texte est en <code><%= fg_color %></code> sur fond <code><%= bg_color %></code>.</p>
</div>
<% } %>