<% if (locals.card_type == "title+button") { %>
<div class="rf-col-md-12 rf-mb-4v">
	<h4 style="background-color: var(--w); color: var(--<%= color %>);">
	    Ce titre est en <%= color %>.
	</h4>
	<button class="rf-btn" style="background-color: var(--<%= color %>); color: var(--w);">
	    Bouton sur fond <%= color %>
	</button>
</div>
<% } else { %>
<div class="rf-col-md-12 rf-m-4v rf-p-2v" style="background-color: var(--<%= bg_color %>); color: var(--<%= fg_color %>);">
	<p>Ce texte est en <code><%= fg_color %></code> sur fond <code><%= bg_color %></code>.</p>
</div>
<% } %>