<!DOCTYPE html>
<html lang="fr" data-fr-scheme>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    <% if (locals.pageTitle) { %>
      <%= pageTitle %> | <%= appName %>
    <% } else { %>
      <%= appName %>
    <% } %>
  </title>
  <link rel="stylesheet" href="/~/@gouvfr/dsfr/dist/dsfr/dsfr.min.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="apple-touch-icon" href="/~/@gouvfr/dsfr/dist/favicon/apple-touch-icon.png"><!-- 180×180 -->
  <link rel="icon" href="/~/@gouvfr/dsfr/dist/favicon/favicon.svg" type="image/svg+xml">
  <link rel="shortcut icon" href="/~/@gouvfr/dsfr/dist/favicon/favicon.ico" type="image/x-icon"><!-- 32×32 -->
</head>
<body>
  <div class="fr-skiplinks">
    <nav class="fr-container" role="navigation" aria-label="Accès rapide">
        <ul class="fr-skiplinks__list">
            <li>
                <a class="fr-nav__link" href="#contenu">Contenu</a>
            </li>
            <li>
                <a class="fr-nav__link" href="#header-navigation">Menu</a>
            </li>
            <li>
                <a class="fr-nav__link" href="#header-search">Recherche</a>
            </li>
            <li>
                <a class="fr-nav__link" href="#footer">Pied de page</a>
            </li>
        </ul>
    </nav>
</div>

<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">
                République
                <br>Française
              </p>
            </div>
            <div class="fr-header__navbar">
              <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-menu" aria-haspopup="menu" title="Menu">
                Menu
              </button>
            </div>
          </div>
          <div class="fr-header__service">
            <a href="/" title="Accueil - <%= appName %>">
              <p class="fr-header__service-title"><%= appName %></p>
            </a>
            <p class="fr-header__service-tagline"><%= appDescription %></p>
          </div>
        </div>

        <div class="fr-header__tools">
          <div class="fr-header__tools-links">
            <ul class="fr-links-group">
              <li>
                <a class="fr-link fr-fi-external-link-line fr-link--icon-right" href="https://gouvfr.atlassian.net/wiki/spaces/DB/" title="documentation officielle - nouvelle fenêtre" target="_blank" rel="noopener">Documentation officielle</a>
              </li>
              <li>
                <button class="fr-link fr-fi-sun-fill-line fr-link--icon-left" aria-controls="fr-theme-modal" data-fr-opened="false">Paramètres d'affichage</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- TODO : fix arria-labellby -->
  <div class="fr-header__menu fr-modal" id="modal-menu" aria-labelledby="button-825">
    <div class="fr-container">
      <button class="fr-link--close fr-link" aria-controls="modal-menu">Fermer</button>
      <div class="fr-header__menu-links">
      </div>

      <nav class="fr-nav" role="navigation" aria-label="Menu principal" id="header-navigation">
        <ul class="fr-nav__list">
<!--           <li class="fr-nav__item">
            <a class="fr-nav__link" href="/" target="_self" <% if (page === '/') { %> aria-current="page" <% } %>>Accueil</a>
          </li>
 -->          <li class="fr-nav__item">
            <a class="fr-nav__link" href="/components" target="_self" <% if (page === '/components') { %>aria-current="page"<% } %>>Composants</a>
          </li>
          <li class="fr-nav__item">
            <a class="fr-nav__link" href="/formulaire" target="_self" <% if (page === '/formulaire') { %>aria-current="page"<% } %>>Formulaire</a>
          </li>
          <li class="fr-nav__item">
            <a class="fr-nav__link" href="/typography" target="_self" <% if (page === '/typography') { %>aria-current="page"<% } %>>Typographie</a>
          </li>
          <li class="fr-nav__item">
            <a class="fr-nav__link" href="/colors" target="_self" <% if (page === '/colors') { %>aria-current="page"<% } %>>Couleurs</a>
          </li>
          <li class="fr-nav__item">
            <a class="fr-nav__link" href="/ressources" target="_self" <% if (page === '/ressources') { %>aria-current="page"<% } %>>Ressources</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</header>
