<!DOCTYPE html>
<html lang="fr" data-rf-reset>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    <% if (locals.pageTitle) { %>
      <%= pageTitle %> | <%= appName %>
    <% } else { %>
      <%= appName %>
    <% } %>
  </title>
  <!-- todo(estellecomment) : import min css and js -->
  <link rel="stylesheet" href="/~/@gouvfr/all/dist/css/all.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
</head>
<body>
  <div class="rf-skiplinks">
    <div class="rf-container">
        <ul class="rf-skiplinks__list">
            <li>
                <a class="rf-link" href="#contenu">Accéder au contenu</a>
            </li>
            <li>
                <a class="rf-link" href="#header-navigation">Accéder au menu</a>
            </li>
            <li>
                <a class="rf-link" href="#header-search">Accéder à la recherche</a>
            </li>
            <li>
                <a class="rf-link" href="#footer">Accéder au footer</a>
            </li>
        </ul>
    </div>
</div>
  <header class="rf-header">
    <div class="rf-container">
      <div class="rf-header__body">
        <div class="rf-header__brand">
          <a class="rf-logo"
             href="/"
             title="République française">
            <span class="rf-logo__title">
              République
              <br>française
            </span>
          </a>
        </div>
        <div class="rf-header__navbar">
          <div class="rf-service">
            <a class="rf-service__title" href="/" title="<%= appName %>">
              <%= appName %>
            </a>
            <p class="rf-service__tagline">
              <%= appDescription %>
            </p>
          </div>
        </div>


        <div class="rf-header__tools">
                <div class="rf-search-bar" id="header-search">
                    <label class="rf-label" for="header-search-input">Label de la barre de recherche</label>
                    <input class="rf-input" placeholder="Rechercher" type="search" id="header-search-input" name="header-search-input">
                    <button class="rf-btn" title="Rechercher">
                        <span>
                            Rechercher
                        </span>
                    </button>
                </div>
            </div>

      </div>
    </div>

    <div class="rf-container">
      <nav class="rf-nav" role="navigation" aria-label="Menu principal">
         <ul class="rf-nav__list">
            <li class="rf-nav__item <% if (page === '/') { %> rf-nav__item--active <% } %>">
               <a class="rf-link" href="/" target="_self">Accueil</a>
            </li>
            <li class="rf-nav__item <% if (page === '/formulaire') { %> rf-nav__item--active <% } %>">
               <a class="rf-link" href="/formulaire" target="_self">Un formulaire</a>
            </li>
<!--             <li class="rf-nav__item">
               <a class="rf-link" href="#" target="_self">Les composants (à venir)</a>
            </li>
 -->
            <li class="rf-nav__item rf-nav__item">
              <button class="rf-btn" aria-expanded="false" aria-controls="rf-nav-item-3">Un menu déroulant</button>
              <div class="rf-menu" id="rf-nav-item-3">
                  <ul class="rf-menu__list">
                      <li class="rf-menu__item">
                          <a class="rf-link" href="#" target="_self">
                              Avec des trucs
                          </a>
                      </li>
                      <li class="rf-menu__item rf-menu__item">
                          Et des machins
                      </li>
                      <li class="rf-menu__item">
                          <a class="rf-link" href="#" target="_self">
                              C'est super bien
                          </a>
                      </li>
                  </ul>
              </div>
          </li>
          <li class="rf-nav__item <% if (page === '/ressources') { %> rf-nav__item--active <% } %>">
            <a class="rf-link" href="/ressources" target="_self">Ressources</a>
          </li>
         </ul>
      </nav>
    </div>
  </header>
