<!DOCTYPE html>
<html lang="fr" data-fr-theme>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    <% if (locals.pageTitle) { %>
      <%= pageTitle %> | <%= appName %>
    <% } else { %>
      <%= appName %>
    <% } %>
  </title>
  <!-- todo(estellecomment) : import min css and js -->
  <link rel="stylesheet" href="/~/@gouvfr/dsfr/dist/css/dsfr.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="apple-touch-icon" href="/~/@gouvfr/dsfr/dist/favicons/apple-touch-icon.png"><!-- 180×180 -->
  <link rel="icon" href="/~/@gouvfr/dsfr/dist/favicons/favicon.svg" type="image/svg+xml">
  <link rel="shortcut icon" href="/~/@gouvfr/dsfr/dist/favicons/favicon.ico" type="image/x-icon"><!-- 32×32 -->
</head>
<body>
  <div class="fr-skiplinks">
    <nav class="fr-container" role="navigation" aria-label="Accès rapide">
        <ul class="fr-skiplinks__list">
            <li>
                <a class="fr-nav__link" href="#contenu">Contenu</a>
            </li>
            <li>
                <a class="fr-nav__link" href="#header-navigation">Menu</a>
            </li>
            <li>
                <a class="fr-nav__link" href="#header-search">Recherche</a>
            </li>
            <li>
                <a class="fr-nav__link" href="#footer">Pied de page</a>
            </li>
        </ul>
    </nav>
</div>

<header role="banner" class="fr-header">
<div class="fr-container">
    <div class="fr-header__body">
        <div class="fr-header__brand fr-enlarge-link">
            <div class="fr-header__logo">
                <p class="fr-logo">
                République
                <br>française
                </p>
            </div>
            <div class="fr-header__service">
                <a href="/" title="Retour à l’accueil">
                    <p class="fr-header__service-title"><%= appName %></p>
                </a>
                <p class="fr-header__service-tagline"><%= appDescription %></p>
            </div>
        </div>
        <div class="fr-header__navbar">
            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="navigation-733" aria-haspopup="menu" title="Ouvrir le menu">
                Ouvrir le menu
            </button>
        </div>
        <div class="fr-header__tools">
            <div class="fr-shortcuts">
                <ul class="fr-shortcuts__list">
                    <li class="fr-shortcuts__item">
                        <a class="fr-link fr-fi-external-link-line fr-link--icon-right" href="https://gouvfr.atlassian.net/wiki/spaces/DB/" title="documentation officielle - nouvelle fenêtre" target="_blank" rel="noopener">Documentation officielle</a>
                    </li>
                    <li class="fr-shortcuts__item">
                        <button class="fr-link fr-fi-sun-fill-line fr-link--icon-left" aria-controls="fr-theme-modal" data-fr-opened="false">Paramètres d'affichage</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <nav class="fr-nav fr-modal" id="navigation-733" role="navigation" aria-label="Menu principal">
        <button class="fr-link--close fr-link" aria-controls="navigation-733">Fermer</button>
         <ul class="fr-nav__list">
            <li class="fr-nav__item <% if (page === '/') { %> fr-nav__item--active <% } %>">
               <a class="fr-nav__link" href="/" target="_self">Accueil</a>
            </li>
            <li class="fr-nav__item <% if (page === '/components') { %> fr-nav__item--active <% } %>">
               <a class="fr-nav__link" href="/components" target="_self">Des composants</a>
            </li>
            <li class="fr-nav__item <% if (page === '/formulaire') { %> fr-nav__item--active <% } %>">
               <a class="fr-nav__link" href="/formulaire" target="_self">Un formulaire</a>
            </li>
            <li class="fr-nav__item <% if (page === '/typography') { %> fr-nav__item--active <% } %>">
              <a class="fr-nav__link" href="/typography" target="_self">La typographie</a>
            </li>
            <li class="fr-nav__item <% if (page === '/colors') { %> fr-nav__item--active <% } %>">
               <button class="fr-nav__btn" aria-expanded="false" aria-controls="fr-nav-colors">Des couleurs</button>
                <div class="fr-menu fr-collapse" id="fr-nav-colors">
                  <ul class="fr-menu__list">
                    <li class="fr-menu__item"><a class="fr-nav__link" href="/colors" target="_self">Palette de couleur</a></li>
                    <li class="fr-menu__item"><a class="fr-nav__link" href="/colors#combinaisons" target="_self">Combinaisons accessibles</a></li>
                    <li class="fr-menu__item"><a class="fr-nav__link" href="/colors#variables" target="_self">Palette de couleur</a></li>
                 </ul>
                </div>
            </li>
            <li class="fr-nav__item <% if (page === '/ressources') { %> fr-nav__item--active <% } %>">
              <a class="fr-nav__link" href="/ressources" target="_self">Ressources</a>
            </li>
         </ul>
    </nav>
</div>
</header>
