<div class="rf-container-fluid <%= section.cssClass %> rf-centered rf-padding-bottom-6N rf-padding-top-2N">
  <div class="rf-grid-row rf-grid-row--center">
    <div class="rf-col-6"><h3 class="rf-h2"><%= section.title %></h3></div>
  </div>
  <div class="rf-grid-row rf-grid-row--center rf-grid-row--gutter">
    <div class="rf-col-xs-12 rf-col-md-3 rf-padding-3N">
      <div class="rf-text--lg rf-padding-bottom-2N"><%= section.parts[0].title %></div>
      <div class="rf-text--sm"><%= section.parts[0].text %></div>
    </div>
    <div class="rf-col-xs-12 rf-col-md-3 rf-padding-3N">
      <div class="rf-text--lg rf-padding-bottom-2N"><%= section.parts[1].title %></div>
      <div class="rf-text--sm"><%= section.parts[1].text %></div>
    </div>
    <div class="rf-col-xs-12 rf-col-md-3 rf-padding-3N">
      <div class="rf-text--lg rf-padding-bottom-2N"><%= section.parts[2].title %></div>
      <div class="rf-text--sm"><%= section.parts[1].text %></div>
    </div>
  </div>
</div>
