<%- include('partials/header') -%>
<main role="main" id="contenu">
	<div class="fr-container fr-mb-8w">
		<%- include('partials/ariane', { items: [
			{ label: 'Accueil', url: '/' },
			{ label: 'Couleurs' },
			],})
			-%>
			<div class="fr-grid-row fr-grid-row--gutters">

				<div class="fr-col-xs-12 fr-col-md-3">
					<nav class="fr-sidemenu fr-sidemenu--sticky" role="navigation" aria-label="Menu latéral">
						<div class="fr-sidemenu__inner">
							<button class="fr-sidemenu__btn" aria-controls="sidemenu-254" aria-expanded="false">Dans cette rubrique</button>
							<div class="fr-collapse" id="sidemenu-254">
								<div class="fr-sidemenu__title">Couleurs</div>
								<ul class="fr-sidemenu__list">
									<li class="fr-sidemenu__item">
										<a class="fr-sidemenu__link" href="#background" target="_self">Fonds</a>
									</li>
									<li class="fr-sidemenu__item">
										<a class="fr-sidemenu__link" href="#components" target="_self">Composants</a>
									</li>
									<li class="fr-sidemenu__item">
										<a class="fr-sidemenu__link" href="#illustrations" target="_self">Illustrations</a>
									</li>
								</ul>
							</div>
						</div>
						<%- include('partials/dark-mode-switch') -%>
					</nav>
				</div>

				<div class="fr-col-xs-12 fr-col-md-9">
					<div class="fr-grid-row fr-grid-row--gutters fr-b__two-col">
						<div class="fr-col-md-12 fr-pb-6w">
							<!-- Sections variables -->
							<h1 id="variables">Variables de couleurs</h1>

							<p>La palette de couleurs du système de design de l’État est définie par <a href="https://www.gouvernement.fr/charte/charte-graphique-les-fondamentaux/les-couleurs">la charte graphique de l'État</a>. Cette page montre des exemples de déclinaisons de couleurs. Se référer à la documentation officielle pour comprendre les conditions d'usage.</p>

							<div class="fr-grid-row fr-grid-row--gutters fr-pb-6w">
								<%- include('partials/card',
								{
									title: 'Couleurs',
									description: "Documentation officielle",
									url: 'https://gouvfr.atlassian.net/wiki/spaces/DB/pages/217186370/Couleurs+-+palette+-+Color',
									size: '3',
									img: '',
								})
								-%>

								<%- include('partials/card',
								{
									title: 'Usage',
									description: "Documentation du choix des tokens",
									url: 'https://gouvfr.atlassian.net/wiki/spaces/DB/pages/910950417/Couleurs+-+utilisation+dans+le+DSFR',
									size: '3',
									img: '',
								})
								-%>

								<%- include('partials/card',
								{
									title: 'Tokens',
									description: "Arbre des tokens de décision",
									url: 'https://www.figma.com/file/yo9dg7nZb69TAd2Hh9N1xK/Tokens---v2?node-id=0%3A1',
									size: '3',
									img: '',
								})
								-%>
							</div>

							<h2 id="background">Couleurs de fonds</h2>

							<p> Ces couleurs peuvent être utilisées comme fond dans des sections de pages.</p>

							<div class="fr-grid-row fr-grid-row--gutters fr-my-4w">
								<%- include('partials/color-card', { color_name: 'background-alt-grey' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-blue-france' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-red-marianne' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-green-tilleul-verveine' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-green-bourgeon' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-green-emeraude' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-green-menthe' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-green-archipel' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-blue-ecume' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-blue-cumulus' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-purple-glycine' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-pink-macaron' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-pink-tuile' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-yellow-tournesol' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-yellow-moutarde' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-orange-terre-battue' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-brown-caramel' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-brown-cafe-creme' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-brown-opera' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-beige-gris-galet' }) -%>
							</div>

							<h2 id="components">Composants</h2>
							
							<h3>Tags</h3>

							<ul class="fr-tags-group fr-mb-4w">
								<li><a class="fr-tag" href="#">default</a></li>
								<li><a class="fr-tag fr-tag--green-tilleul-verveine" href="#">green-tilleul-verveine</a></li>
								<li><a class="fr-tag fr-tag--green-bourgeon" href="#">green-bourgeon</a></li>
								<li><a class="fr-tag fr-tag--green-emeraude" href="#">green-emeraude</a></li>
								<li><a class="fr-tag fr-tag--green-menthe" href="#">green-menthe</a></li>
								<li><a class="fr-tag fr-tag--green-archipel" href="#">green-archipel</a></li>
								<li><a class="fr-tag fr-tag--blue-ecume" href="#">blue-ecume</a></li>
								<li><a class="fr-tag fr-tag--blue-cumulus" href="#">blue-cumulus</a></li>
								<li><a class="fr-tag fr-tag--purple-glycine" href="#">purple-glycine</a></li>
								<li><a class="fr-tag fr-tag--pink-macaron" href="#">pink-macaron</a></li>
								<li><a class="fr-tag fr-tag--pink-tuile" href="#">pink-tuile</a></li>
								<li><a class="fr-tag fr-tag--yellow-tournesol" href="#">yellow-tournesol</a></li>
								<li><a class="fr-tag fr-tag--yellow-moutarde" href="#">yellow-moutarde</a></li>
								<li><a class="fr-tag fr-tag--orange-terre-battue" href="#">orange-terre-battue</a></li>
								<li><a class="fr-tag fr-tag--brown-caramel" href="#">brown-caramel</a></li>
								<li><a class="fr-tag fr-tag--brown-cafe-creme" href="#">brown-cafe-creme</a></li>
								<li><a class="fr-tag fr-tag--brown-opera" href="#">brown-opera</a></li>
								<li><a class="fr-tag fr-tag--beige-gris-galet" href="#">beige-gris-galet</a></li>
							</ul>

							<h3>Mise en avant</h3>

							<div class="fr-my-4w">
							<%- include('partials/call-out', {title: '', text:'Couleur green-tilleul-verveine', accent:'green-tilleul-verveine'}) -%>
							<%- include('partials/call-out', {title: '', text:'Couleur green-bourgeon', accent:'green-bourgeon'}) -%>
							<%- include('partials/call-out', {title: '', text:'Couleur green-emeraude', accent:'green-emeraude'}) -%>
							<%- include('partials/call-out', {title: '', text:'Couleur green-menthe', accent:'green-menthe'}) -%>
							<%- include('partials/call-out', {title: '', text:'Couleur green-archipel', accent:'green-archipel'}) -%>
							<%- include('partials/call-out', {title: '', text:'Couleur blue-ecume', accent:'blue-ecume'}) -%>
							<%- include('partials/call-out', {title: '', text:'Couleur blue-cumulus', accent:'blue-cumulus'}) -%>
							<%- include('partials/call-out', {title: '', text:'Couleur purple-glycine', accent:'purple-glycine'}) -%>
							<%- include('partials/call-out', {title: '', text:'Couleur pink-macaron', accent:'pink-macaron'}) -%>
							<%- include('partials/call-out', {title: '', text:'Couleur pink-tuile', accent:'pink-tuile'}) -%>
							<%- include('partials/call-out', {title: '', text:'Couleur yellow-tournesol', accent:'yellow-tournesol'}) -%>
							<%- include('partials/call-out', {title: '', text:'Couleur yellow-moutarde', accent:'yellow-moutarde'}) -%>
							<%- include('partials/call-out', {title: '', text:'Couleur orange-terre-battue', accent:'orange-terre-battue'}) -%>
							<%- include('partials/call-out', {title: '', text:'Couleur brown-cafe-creme', accent:'brown-cafe-creme'}) -%>
							<%- include('partials/call-out', {title: '', text:'Couleur brown-caramel', accent:'brown-caramel'}) -%>
							<%- include('partials/call-out', {title: '', text:'Couleur brown-opera', accent:'brown-opera'}) -%>
							<%- include('partials/call-out', {title: '', text:'Couleur beige-gris-galet', accent:'beige-gris-galet'}) -%>
						</div>

							<h3>Gamme de couleur</h3>

							<p>D'autres composants sont personnalisables :</p>
							<ul>
								<li>Mise en exergue</li>
								<li>Tableaux</li>
								<li>d'autres à venir...</li>
							</ul>

							<div class="fr-grid-row fr-grid-row--gutters fr-my-4w">
								<%- include('partials/color-card', { color_name: 'background-contrast-grey' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-blue-france' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-red-marianne' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-green-tilleul-verveine' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-green-bourgeon' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-green-emeraude' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-green-menthe' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-green-archipel' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-blue-ecume' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-blue-cumulus' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-purple-glycine' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-pink-macaron' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-pink-tuile' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-yellow-tournesol' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-yellow-moutarde' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-orange-terre-battue' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-brown-caramel' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-brown-cafe-creme' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-brown-opera' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-beige-gris-galet' }) -%>
							</div>


							<h2 id="illustrations">Illustrations</h2>

							<p>Ces couleurs font partie de la charte de l'État. Elles peuvent servir à la composition d’illustration ou de pictogrammes.</p>

							<div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
								<%- include('partials/color-card', { color_name: 'artwork-major-blue-france' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-blue-france' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-red-marianne' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-decorative-blue-france' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-decorative-red-marianne' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-green-tilleul-verveine' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-green-bourgeon' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-green-emeraude' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-green-menthe' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-green-archipel' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-blue-ecume' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-blue-cumulus' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-purple-glycine' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-pink-macaron' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-pink-tuile' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-yellow-tournesol' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-yellow-moutarde' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-orange-terre-battue' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-brown-cafe-creme' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-brown-opera' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-beige-gris-galet' }) -%>
							</div>

							<!-- 
							<h3>Système</h3>
							<div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
							<%- include('partials/color-card', { color_name: 'background-flat-grey' }) -%>
							<%- include('partials/color-card', { color_name: 'background-flat-info' }) -%>
							<%- include('partials/color-card', { color_name: 'background-flat-warning' }) -%>
							<%- include('partials/color-card', { color_name: 'background-flat-success' }) -%>
							<%- include('partials/color-card', { color_name: 'background-flat-error' }) -%>
							</div> 
						-->

							<!--
							<h3>Fond de composant cliquable important</h3>
							<p>Exemple : composant « bouton »</p>
							<div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
							<%- include('partials/color-card', { color_name: 'background-action-high-blue-france' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-red-marianne' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-green-tilleul-verveine' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-green-bourgeon' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-green-emeraude' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-green-menthe' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-green-archipel' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-blue-ecume' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-blue-cumulus' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-purple-glycine' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-pink-macaron' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-pink-tuile' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-yellow-tournesol' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-yellow-moutarde' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-orange-terre-battue' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-brown-caramel' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-brown-opera' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-brown-caramel' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-beige-gris-galet' }) -%>
							</div>

							<h3>Fond de composant cliquable mineur</h3>
							<p>Exemple : composant « bouton »</p>
							<div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
								<%- include('partials/color-card', { color_name: 'background-action-low-blue-france' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-red-marianne' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-green-bourgeon' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-green-tilleul-verveine' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-green-emeraude' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-green-menthe' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-green-archipel' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-blue-ecume' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-blue-cumulus' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-purple-glycine' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-pink-macaron' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-pink-tuile' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-yellow-tournesol' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-yellow-moutarde' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-orange-terre-battue' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-brown-caramel' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-brown-cafe-creme' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-brown-opera' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-beige-gris-galet' }) -%>
							</div>
						-->

						<!-- End content -->
					</div>
				</div>
			</div>
		</div>
	</main>

	<%- include('partials/footer') -%>