<%- include('partials/header') -%>
<main role="main" id="contenu">
	<div class="fr-container fr-mb-8w">
		<%- include('partials/ariane', { items: [
			{ label: 'Accueil', url: '/' },
			{ label: 'Couleurs' },
			],})
			-%>
			<div class="fr-grid-row fr-grid-row--gutters">

				<div class="fr-col-xs-12 fr-col-md-3">
					<nav class="fr-sidemenu fr-sidemenu--sticky" role="navigation" aria-label="Menu latéral">
						<div class="fr-sidemenu__inner">
							<button class="fr-sidemenu__btn" aria-controls="sidemenu-254" aria-expanded="false">Dans cette rubrique</button>
							<div class="fr-collapse" id="sidemenu-254">
								<div class="fr-sidemenu__title">Couleurs</div>
								<ul class="fr-sidemenu__list">
									<li class="fr-sidemenu__item">
										<a class="fr-sidemenu__link" href="#background" target="_self">Fond</a>
									</li>
									<li class="fr-sidemenu__item">
										<a class="fr-sidemenu__link" href="#illustratives" target="_self">Illustrations</a>
									</li>
									<li class="fr-sidemenu__item">
										<a class="fr-sidemenu__link" href="#custom" target="_self">Personnalisations</a>
									</li>
								</ul>
							</div>
						</div>
						<%- include('partials/dark-mode-switch') -%>
					</nav>
				</div>

				<div class="fr-col-xs-12 fr-col-md-9">
					<div class="fr-grid-row fr-grid-row--gutters fr-b__two-col">
						<div class="fr-col-md-12 fr-pb-6w">
							<!-- Sections variables -->
							<h1 id="variables">Variables de couleurs</h1>

							<p>La palette de couleurs du système de design de l’État est définie par <a href="https://www.gouvernement.fr/charte/charte-graphique-les-fondamentaux/les-couleurs">la charte graphique de l'État</a>.</p>

							<p>Le DSFR propose des token (un nom transverse aux bibliothèques Sketch et Figma et au code) pour différents cas d'usage.</p>

							<div class="fr-grid-row fr-grid-row--gutters fr-pb-6w">
								<%- include('partials/card',
								{
									title: 'Couleurs',
									description: "Documentation officielle",
									url: 'https://gouvfr.atlassian.net/wiki/spaces/DB/pages/217186370/Couleurs+-+palette+-+Color',
									size: '3',
									img: '',
								})
								-%>

								<%- include('partials/card',
								{
									title: 'Usage',
									description: "Documentation du choix des tokens",
									url: 'https://gouvfr.atlassian.net/wiki/spaces/DB/pages/910950417/Couleurs+-+utilisation+dans+le+DSFR',
									size: '3',
									img: '',
								})
								-%>
							</div>

							<h2 id="background">Couleurs de fond</h2>

							<h3>Fond de page alternatifs</h3>

							<p> Exemple : bloc « lettre d’information et réseaux sociaux ».</p>

							<div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
								<%- include('partials/color-card', { color_name: 'background-alt-grey' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-blue-france' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-red-marianne' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-green-tilleul-verveine' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-green-bourgeon' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-green-emeraude' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-green-menthe' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-green-archipel' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-blue-ecume' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-blue-cumulus' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-purple-glycine' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-pink-macaron' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-pink-tuile' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-yellow-tournesol' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-yellow-moutarde' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-orange-terre-battue' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-brown-caramel' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-brown-cafe-creme' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-brown-opera' }) -%>
								<%- include('partials/color-card', { color_name: 'background-alt-beige-gris-galet' }) -%>
							</div>

							<h3>Fond de composant contrastant </h3>

							<p>Exemple : composant « mise en avant »</p>

							<div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
								<%- include('partials/color-card', { color_name: 'background-contrast-grey' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-blue-france' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-red-marianne' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-green-tilleul-verveine' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-green-bourgeon' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-green-emeraude' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-green-menthe' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-green-archipel' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-blue-ecume' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-blue-cumulus' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-purple-glycine' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-pink-macaron' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-pink-tuile' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-yellow-tournesol' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-yellow-moutarde' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-orange-terre-battue' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-brown-caramel' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-brown-cafe-creme' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-brown-opera' }) -%>
								<%- include('partials/color-card', { color_name: 'background-contrast-beige-gris-galet' }) -%>
							</div>

							<!-- 
							<h3>Système</h3>
							<div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
							<%- include('partials/color-card', { color_name: 'background-flat-grey' }) -%>
							<%- include('partials/color-card', { color_name: 'background-flat-info' }) -%>
							<%- include('partials/color-card', { color_name: 'background-flat-warning' }) -%>
							<%- include('partials/color-card', { color_name: 'background-flat-success' }) -%>
							<%- include('partials/color-card', { color_name: 'background-flat-error' }) -%>
							</div> -->

							<h3>Fond de composant cliquable important</h3>

							<p>Exemple : composant « bouton »</p>
							<div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
							<%- include('partials/color-card', { color_name: 'background-action-high-blue-france' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-red-marianne' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-green-tilleul-verveine' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-green-bourgeon' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-green-emeraude' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-green-menthe' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-green-archipel' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-blue-ecume' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-blue-cumulus' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-purple-glycine' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-pink-macaron' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-pink-tuile' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-yellow-tournesol' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-yellow-moutarde' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-orange-terre-battue' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-brown-caramel' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-brown-opera' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-brown-caramel' }) -%>
							<%- include('partials/color-card', { color_name: 'background-action-high-beige-gris-galet' }) -%>
							</div>

							<h3>Fond de composant cliquable mineur</h3>

							<p>Exemple : composant « bouton »</p>

							<div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
								<%- include('partials/color-card', { color_name: 'background-action-low-blue-france' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-red-marianne' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-green-bourgeon' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-green-tilleul-verveine' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-green-emeraude' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-green-menthe' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-green-archipel' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-blue-ecume' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-blue-cumulus' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-purple-glycine' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-pink-macaron' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-pink-tuile' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-yellow-tournesol' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-yellow-moutarde' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-orange-terre-battue' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-brown-caramel' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-brown-cafe-creme' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-brown-opera' }) -%>
								<%- include('partials/color-card', { color_name: 'background-action-low-beige-gris-galet' }) -%>
							</div>

							<h2 id="illustratives">Couleurs illustratives</h2>

							<div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
								<%- include('partials/color-card', { color_name: 'artwork-major-blue-france' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-blue-france' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-red-marianne' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-decorative-blue-france' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-decorative-red-marianne' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-green-tilleul-verveine' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-green-bourgeon' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-green-emeraude' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-green-menthe' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-green-archipel' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-blue-ecume' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-blue-cumulus' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-purple-glycine' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-pink-macaron' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-pink-tuile' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-yellow-tournesol' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-yellow-moutarde' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-orange-terre-battue' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-brown-cafe-creme' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-brown-opera' }) -%>
								<%- include('partials/color-card', { color_name: 'artwork-minor-beige-gris-galet' }) -%>
							</div>

							<h2 id="custom">Exemple de personnalisation</h2>

							<p>À venir</p>
<!-- End content -->
</div>
</div>
</div>
</div>
</main>

<%- include('partials/footer') -%>