<%- include('partials/header') -%>
<div class="rf-container rf-pb-6w rf-pt-2w">
	<div class="rf-grid-row rf-grid-row--gutters rf-b__two-col">
		<div class="rf-col-xs-12 rf-col-md-3">
			 <nav class="rf-sidemenu rf-sidemenu--sticky" aria-label="Menu latéral">
		    <div class="rf-sidemenu__inner">
		        <button class="rf-sidemenu__btn" hidden aria-controls="rf-sidemenu-wrapper" aria-expanded="false">Dans cette rubrique</button>
		        <div class="rf-collapse" id="rf-sidemenu-wrapper">
		            <ul class="rf-sidemenu__list">
		                <li class="rf-sidemenu__item">
		                    <a class="rf-sidemenu__link" href="#grey" target="_self">Échelle de gris</a>
		                </li>
		                <li class="rf-sidemenu__item">
		                    <a class="rf-sidemenu__link" href="#bleu" target="_self">Bleu France</a>
		                </li>
		              <li class="rf-sidemenu__item">
		                    <a class="rf-sidemenu__link" href="#Marianne" target="_self">Rouge Marianne</a>
		                </li>
		                <li class="rf-sidemenu__item">
		                    <a class="rf-sidemenu__link" href="#couleurs-fonc" target="_self">Couleurs fonctionnelles</a>
		                </li>
		                <li class="rf-sidemenu__item">
		                    <a class="rf-sidemenu__link" href="#couleurs-illus" target="_self">Couleurs illustratives</a>
		                </li>
		                <li class="rf-sidemenu__item">
		                    <a class="rf-sidemenu__link" href="#variante" target="_self">Variantes de couleurs</a>
		                </li>
		            </ul>
		        </div>
		    </div>
		</nav> 
		</div>
		<div class="rf-col-xs-12 rf-col-md-9">
			<h1>Couleurs</h1>
			<p>Liste les variables couleurs.</p>

			<h2>Échelle de gris</h2>
			<div class="rf-grid-row rf-grid-row--gutters">
				<%- include('partials/color-card', { color_name: 'g800' }) -%>
				<%- include('partials/color-card', { color_name: 'g700' }) -%>
				<%- include('partials/color-card', { color_name: 'g600' }) -%>
				<%- include('partials/color-card', { color_name: 'g500' }) -%>
				<%- include('partials/color-card', { color_name: 'g400' }) -%>
				<%- include('partials/color-card', { color_name: 'g300' }) -%>
				<%- include('partials/color-card', { color_name: 'g200' }) -%>
				<%- include('partials/color-card', { color_name: 'g100' }) -%>
				<!--       
				  g800-plain: $grey-800,
				  g600-g400: $grey-600 $grey-400,
				  g400-t: $grey-400 transparent,
				  g100-g800: $grey-100 $grey-800,
				  w-g750: $white $grey-750, 
				-->
			</div>

			<h2>Bleu France</h2>
			<div class="rf-grid-row rf-grid-row--gutters">
				<%- include('partials/color-card', { color_name: 'bf500', comment: 'Bleu France' }) -%>
				<%- include('partials/color-card', { color_name: 'bf500-plain' }) -%>
				<%- include('partials/color-card', { color_name: 'bf300-plain' }) -%>
				<%- include('partials/color-card', { color_name: 'bf200-bf300' }) -%>
				<%- include('partials/color-card', { color_name: 'bf100-g750' }) -%>
				<%- include('partials/color-card', { color_name: 'w-bf500' }) -%>
			</div>

			<h2>Rouge Marianne</h2>
			<div class="rf-grid-row rf-grid-row--gutters">
				<%- include('partials/color-card', { color_name: 'rm500' }) -%>
				<%- include('partials/color-card', { color_name: 'rm300' }) -%>
			</div>

			<!-- 
			  w: $white $grey-800,
			  beige: $beige $grey-750 $grey-100,
			  focus:$color-focus $color-focus-dark-mode,
			-->

			<h2>Couleurs fonctionnelles</h2>
			<div class="rf-grid-row rf-grid-row--gutters">
				<%- include('partials/color-card', { color_name: 'info' }) -%>
				<%- include('partials/color-card', { color_name: 'success' }) -%>
				<%- include('partials/color-card', { color_name: 'error' }) -%>
			</div>

			<h2>Couleurs illustratives</h2>
			<h3>Brun</h3>
			<div class="rf-grid-row rf-grid-row--gutters">
				<%- include('partials/color-card', { color_name: 'b500' }) -%>
				<%- include('partials/color-card', { color_name: 'b300' }) -%>
			</div>
			<h3>Bleu</h3>
			<div class="rf-grid-row rf-grid-row--gutters">
				<%- include('partials/color-card', { color_name: 'bs500' }) -%>
				<%- include('partials/color-card', { color_name: 'bs300' }) -%>
				<%- include('partials/color-card', { color_name: 'bd500' }) -%>
				<%- include('partials/color-card', { color_name: 'bd300' }) -%>
			</div>
			<h3>Vert</h3>
			<div class="rf-grid-row rf-grid-row--gutters">
				<%- include('partials/color-card', { color_name: 'gl500' }) -%>
				<%- include('partials/color-card', { color_name: 'gl300' }) -%>
				<%- include('partials/color-card', { color_name: 'gm500' }) -%>
				<%- include('partials/color-card', { color_name: 'gm300' }) -%>
				<%- include('partials/color-card', { color_name: 'gs500' }) -%>
				<%- include('partials/color-card', { color_name: 'gs300' }) -%>
				<%- include('partials/color-card', { color_name: 'gw500' }) -%>
				<%- include('partials/color-card', { color_name: 'gw300' }) -%>
			</div>
			<h3>Orange</h3>
			<div class="rf-grid-row rf-grid-row--gutters">
				<%- include('partials/color-card', { color_name: 'od500' }) -%>
				<%- include('partials/color-card', { color_name: 'od300' }) -%>
				<%- include('partials/color-card', { color_name: 'om500' }) -%>
				<%- include('partials/color-card', { color_name: 'om300' }) -%>
				<%- include('partials/color-card', { color_name: 'os500' }) -%>
				<%- include('partials/color-card', { color_name: 'os300' }) -%>
			</div>
			<h3>Violet</h3>
			<div class="rf-grid-row rf-grid-row--gutters">
				<%- include('partials/color-card', { color_name: 'p500' }) -%>
				<%- include('partials/color-card', { color_name: 'p300' }) -%>
			</div>
			<h3>Rose</h3>
			<div class="rf-grid-row rf-grid-row--gutters">
				<%- include('partials/color-card', { color_name: 'pd500' }) -%>
				<%- include('partials/color-card', { color_name: 'pd300' }) -%>
				<%- include('partials/color-card', { color_name: 'pl500' }) -%>
				<%- include('partials/color-card', { color_name: 'pl300' }) -%>
				<%- include('partials/color-card', { color_name: 'ps500' }) -%>
				<%- include('partials/color-card', { color_name: 'ps300' }) -%>
			</div>
			<h3>Jaune</h3>
			<div class="rf-grid-row rf-grid-row--gutters">
				<%- include('partials/color-card', { color_name: 'yd500' }) -%>
				<%- include('partials/color-card', { color_name: 'yd300' }) -%>
				<%- include('partials/color-card', { color_name: 'ym500' }) -%>
				<%- include('partials/color-card', { color_name: 'ym300' }) -%>
			</div> 

			<h2>Palettes de couleurs</h2>

			<p>Des composants (seulement le composant callout actuellement) possèdent plusieurs variantes de couleurs.</p>

			<h3>Brun</h3>
			<%- include('partials/scheme-cards', { scheme_classname: 'rf-scheme-soft-brown', scheme_desc: 'Brun' }) -%>
			<h3>Bleu</h3>
			<%- include('partials/scheme-cards', { scheme_classname: 'rf-scheme-soft-blue-soft', scheme_desc: 'Bleu clair' }) -%>
			<%- include('partials/scheme-cards', { scheme_classname: 'rf-scheme-soft-blue-dark', scheme_desc: 'Bleu foncé' }) -%>
			<h3>Vert</h3>
			<%- include('partials/scheme-cards', { scheme_classname: 'rf-scheme-soft-green-light', scheme_desc: 'Vert clair' }) -%>
			<%- include('partials/scheme-cards', { scheme_classname: 'rf-scheme-soft-green-medium', scheme_desc: 'Vert moyen' }) -%>
			<%- include('partials/scheme-cards', { scheme_classname: 'rf-scheme-soft-green-soft', scheme_desc: 'Vert doux' }) -%>
			<%- include('partials/scheme-cards', { scheme_classname: 'rf-scheme-soft-green-warm', scheme_desc: 'Vert chaleureux' }) -%>
			<h3>Orange</h3>
			<%- include('partials/scheme-cards', { scheme_classname: 'rf-scheme-soft-orange-dark', scheme_desc: 'Orange foncé' }) -%>
			<%- include('partials/scheme-cards', { scheme_classname: 'rf-scheme-soft-orange-medium', scheme_desc: 'Orange moyen' }) -%>
			<%- include('partials/scheme-cards', { scheme_classname: 'rf-scheme-soft-orange-soft', scheme_desc: 'Orange doux' }) -%>
			<h3>Violet</h3>
			<%- include('partials/scheme-cards', { scheme_classname: 'rf-scheme-soft-purple', scheme_desc: 'Violet' }) -%>
			<h3>Rose</h3>
			<%- include('partials/scheme-cards', { scheme_classname: 'rf-scheme-soft-pink-dark', scheme_desc: 'Rose foncé' }) -%>
			<%- include('partials/scheme-cards', { scheme_classname: 'rf-scheme-soft-pink-light', scheme_desc: 'Rose clair' }) -%>
			<%- include('partials/scheme-cards', { scheme_classname: 'rf-scheme-soft-pink-soft', scheme_desc: 'Rose doux' }) -%>
			<h3>Jaune</h3>
			<%- include('partials/scheme-cards', { scheme_classname: 'rf-scheme-soft-yellow-dark', scheme_desc: 'Jaune foncé' }) -%>
			<%- include('partials/scheme-cards', { scheme_classname: 'rf-scheme-soft-yellow-medium', scheme_desc: 'Jaune moyen' }) -%>

		</div>
	</div>

</div>