<%- include('partials/header') -%>
<main role="main" id="contenu">	
<div class="fr-container fr-pb-6w fr-pt-2w">
  <h1>Composants</h1>

  <h2>Boutons</h2>

  <ul class="fr-btns-group fr-btns-group--inline">
    <li><button class="fr-btn">Bouton primaire</button></li>
    <li><button class="fr-btn" disabled>Bouton primaire désactivé</button></li>
    <li><button class="fr-btn fr-btn--secondary">Bouton secondaire</button></li>
    <li><button class="fr-btn fr-btn--secondary" disabled>Bouton secondaire désactivé</button></li>
  </ul>

  <h3>Plusieurs taille</h3>
  <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--sm">
    <li><button class="fr-btn">Taille Small</button></li>
    <li><button class="fr-btn" disabled>primaire désactivé</button></li>
    <li><button class="fr-btn fr-btn--secondary">secondaire</button></li>
    <li><button class="fr-btn fr-btn--secondary" disabled>secondaire désactivé</button></li>    
  </ul>
  <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--md">
    <li><button class="fr-btn">Taille médium</button></li>
    <li><button class="fr-btn" disabled>primaire désactivé</button></li>
    <li><button class="fr-btn fr-btn--secondary">secondaire</button></li>
    <li><button class="fr-btn fr-btn--secondary" disabled>secondaire désactivé</button></li>    
  </ul>
  <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--lg"> 
    <li><button class="fr-btn">Taille large</button></li>
    <li><button class="fr-btn" disabled>primaire désactivé</button></li>
    <li><button class="fr-btn fr-btn--secondary">secondaire</button></li>
    <li><button class="fr-btn fr-btn--secondary" disabled>secondaire désactivé</button></li>    
  </ul>

  <h3>Avec ou sans icônes</h3>
  <p><button class="fr-btn fr-fi-checkbox-line fr-btn--icon-left">Icône à gauche</button></p>
  <p><button class="fr-btn fr-fi-checkbox-line fr-btn--icon-right">Icône à droite</button></p>
  <p><button class="fr-btn fr-fi-checkbox-line" title="Icône seule"><span class="sr-only">Icône seule</span></button></p>

</div>

<%- include('partials/section',
{
  section:
  {
    title: "Grilles",
    parts: [
    {
      title: 'Une partie',
      text: 'Des détails de cette partie, afin d\'expliquer mieux la partie',
    },
    {
      title: 'Une autre partie',
      text: 'Des détails de cette partie, afin d\'expliquer mieux la partie',
    },
    {
      title: 'Une troisième partie',
      text: 'Des détails de cette partie, afin d\'expliquer mieux la partie',
    },
    ],
    cssClass: 'fr-bg--alt',
  },
})
-%>

<div class="fr-container fr-pb-6w fr-pt-2w">
  <h2>Accordéons</h2>

  <ul class="fr-accordions-group">
    <%- include('partials/accordion-item',
    {
      i: 0,
      title: 'On peut afficher des accordéons',
      content: 'Qui elit in aliqua exercitation. Sint exercitation incididunt duis eu mollit sunt id dolor ullamco excepteur adipisicing deserunt. Dolore mollit ullamco laboris nulla qui ad officia. Ad deserunt ex magna esse culpa ea occaecat sit tempor.'
    })
    -%>
    <%- include('partials/accordion-item',
    {
      i: 1,
      title: 'Qui se déroulent',
      content: "Là, on explique la deuxième étape."
    })
    -%>
    <%- include('partials/accordion-item',
    {
      i: 2,
      title: 'Quand on clique dessus',
      content: "Sans surprise, c'est ici la troisième étape. Qui elit in aliqua exercitation. Sint exercitation incididunt duis eu mollit sunt id dolor ullamco excepteur adipisicing deserunt. Dolore mollit ullamco laboris nulla qui ad officia. Ad deserunt ex magna esse culpa ea occaecat sit tempor."
    })
    -%>
  </ul>
</div>

<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col">
      <h2>Cartes</h2>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <%- include('partials/card',
    {
      title: 'Titre',
      description: "Description",
      url: '#',
      img: '',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Titre',
      description: "Description",
      url: '#',
      img: '',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Titre',
      description: "Description",
      url: '#',
      img: '',
    })
    -%>
  </div>
</div>
</main>
<%- include('partials/footer') -%>
