<%- include('partials/header') -%>
<main role="main" id="contenu">	
  <div class="rf-container rf-py-6w rf-px-2w">
  <h1>Démo du Design System de l'État</h1>
  <p>
    Ce site est un effort bénévole pour proposer une démo au design system de l'Etat. Il n'est pas maintenu par le SIG : pas de garantie qu'il soit complet, ni parfait !
  </p>

<div class="rf-container-fluid rf-my-6w">
  <div class="rf-grid-row rf-grid-row--gutters">
    <%- include('partials/card',
    {
      title: 'Composants',
      description: "Cartes, boutons...",
      url: '/components',
      size: '3',
      img: '',
    })
    -%>


    <%- include('partials/card',
    {
      title: 'Formulaire',
      description: "Input, textarea...",
      url: '/formulaire',
      size: '3',
      img: '',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Typographie',
      description: "Titres, paragraphes...",
      url: '/typography',
      size: '3',
      img: '',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Couleurs',
      description: "Palettes, combinaisons accessibles...",
      url: '/colors',
      size: '3',
      img: '',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Ressources',
      description: "Documentation et lien vers des sites exemples en production",
      url: '/ressources',
      size: '3',
      img: '',
    })
    -%>
  </div>
</div>

  <div class="rf-container-fluid">
    <h2>Vous voulez participer ? </h2>
    <ul>
      <li><a class="rf-link rf-fi-external-link-line rf-link--icon-right" target="blank" href="https://github.com/betagouv/template-design-system-de-l-etat/issues">Voir les problèmes signalés</a></li>
      <li><a class="rf-link rf-fi-external-link-line rf-link--icon-right" target="blank" href="https://github.com/betagouv/template-design-system-de-l-etat/issues/new">Signaler un problème</a></li>
      <li><a class="rf-link rf-fi-external-link-line rf-link--icon-right" target="blank" href="https://github.com/betagouv/template-design-system-de-l-etat/">Contribuer au code source</a></li>
    </div>
  </div>
</div>

</div>
</main>
<%- include('partials/footer') -%>
