<%- include('partials/header') -%>
<div class="rf-container rf-pb-6w rf-pt-2w">
  <h1>Démo du Design System de l'État</h1>
  <p>
    Ce site est un effort bénévole pour proposer une démo au design system de l'Etat. Pas de garantie qu'il soit complet, ni parfait !
  </p>

<div class="rf-container">
  <div class="rf-grid-row rf-grid-row--gutters">
    <%- include('partials/card',
    {
      title: 'Composants',
      description: "Cartes, boutons...",
      url: '/components',
      img: '',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Formulaire',
      description: "Exemple de formulaire",
      url: '/formulaire',
      img: '',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Ressources',
      description: "Documentation et lien vers des sites exemples en production",
      url: '/ressources',
      img: '',
    })
    -%>
  </div>
</div>

  <div class="sub-paragraph">
    <h2>Vous voulez participer ? </h2>
    <p>
      Aidez-nous en signalant les problèmes !
      <ul>
        <li><a href="https://github.com/betagouv/template-design-system-de-l-etat/issues">Voir les problèmes signalés</a></li>
        <li><a href="https://github.com/betagouv/template-design-system-de-l-etat/issues/new">Signaler un nouveau problème</a>.</li>
        <li><a href="https://github.com/betagouv/template-design-system-de-l-etat">Contribuer au code</a>
      </ul>
    </p>
    <p><a class="rf-btn" href="https://github.com/betagouv/template-design-system-de-l-etat">Voir le code public</a></p>
  </div>
</div>

</div>
<%- include('partials/footer') -%>
