<%- include('partials/header') -%>
<div class="rf-container rf-pb-6w rf-pt-2w">
  <h1>Démo du Design System de l'État</h1>
  <p>
    Ce site est un effort bénévole pour proposer une démo au design system de l'Etat. Pas de garantie qu'il soit complet, ni parfait !
  </p>

<div class="rf-container">
  <div class="rf-grid-row rf-grid-row--gutters">
    <%- include('partials/card',
    {
      title: 'Composants',
      description: "Cartes, boutons...",
      url: '/components',
      img: '',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Formulaire',
      description: "Input, textarea...",
      url: '/formulaire',
      img: '',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Ressources',
      description: "Documentation et lien vers des sites exemples en production",
      url: '/ressources',
      img: '',
    })
    -%>
  </div>
</div>

  <div class="sub-paragraph">
    <h2>Vous voulez participer ? </h2>
    <div class="rf-grid-row rf-grid-row--gutters">
      <%- include('partials/tile',
      {
        title: 'Voir les problèmes signalés',
        url: 'https://github.com/betagouv/template-design-system-de-l-etat/issues',
      })
      -%>
      <%- include('partials/tile',
      {
        title: 'Signaler un problème',
        url: 'https://github.com/betagouv/template-design-system-de-l-etat/issues/new',
      })
      -%>
      <%- include('partials/tile',
      {
        title: 'Contribuer au code source',
        url: 'https://github.com/betagouv/template-design-system-de-l-etat/',
      })
      -%>
    </div>
  </div>
</div>

</div>
<%- include('partials/footer') -%>
