<%- include('partials/header') -%>
<div class="rf-container rf-pb-6w rf-pt-2w">
  <h1>Démo du Design System de l'État</h1>
  <p>
    Ce site est un effort bénévole pour proposer une démo au design system de l'Etat. Pas de garantie qu'il soit complet, ni parfait !
  </p>

<div class="rf-container">
  <div class="rf-grid-row rf-grid-row--gutters">
    <%- include('partials/card',
    {
      title: 'Composants',
      description: "Cartes, boutons...",
      url: '/components',
      img: '',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Formulaire',
      description: "Input, textarea...",
      url: '/formulaire',
      img: '',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Ressources',
      description: "Documentation et lien vers des sites exemples en production",
      url: '/ressources',
      img: '',
    })
    -%>
  </div>
</div>

  <div class="sub-paragraph">
    <h2>Vous voulez participer ? </h2>
    <div class="rf-grid-row rf-grid-row--gutters">
      <div class="rf-col-4">
          <div class="rf-tile">
              <div class="rf-tile__body">
                  <h4 class="rf-tile__title">
                      <a class="rf-tile__link" href="https://github.com/betagouv/template-design-system-de-l-etat/issues">Voir les problèmes signalés</a>
                  </h4>
              </div>
          </div>
      </div>
      <div class="rf-col-4">
          <div class="rf-tile">
              <div class="rf-tile__body">
                  <h4 class="rf-tile__title">
                      <a class="rf-tile__link" href="https://github.com/betagouv/template-design-system-de-l-etat/issues/new">Signaler un problème</a>
                  </h4>
              </div>
          </div>
      </div>
      <div class="rf-col-4">
          <div class="rf-tile">
              <div class="rf-tile__body">
                  <h4 class="rf-tile__title">
                      <a class="rf-tile__link" href="https://github.com/betagouv/template-design-system-de-l-etat">Contribuer</a>
                  </h4>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

</div>
<%- include('partials/footer') -%>
