<%- include('partials/header') -%>
<main role="main" id="contenu">
  <div class="fr-container fr-py-6w fr-px-2w">

    <h1>Démo du DSFR</h1>
  
<div class="fr-container-fluid fr-my-6w">
  <div class="fr-grid-row fr-grid-row--gutters">
    <%- include('partials/card',
    {
      title: 'Composants',
      description: "Cartes, boutons...",
      url: '/components',
      size: '3',
      img: '',
    })
    -%>


    <%- include('partials/card',
    {
      title: 'Formulaire',
      description: "Input, textarea...",
      url: '/formulaire',
      size: '3',
      img: '',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Typographie',
      description: "Titres, paragraphes...",
      url: '/typography',
      size: '3',
      img: '',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Ressources',
      description: "Documentation et lien vers des sites exemples en production",
      url: '/ressources',
      size: '3',
      img: '',
    })
    -%>
  </div>

</div>

  <div class="fr-container-fluid">
    <h2>Participer</h2>
    <p>
      Ce site est un effort bénévole des membres de <a href="https://beta.gouv.fr/">beta.gouv</a> et de la communauté utilisant le DSFR. Il n'est pas maintenu par le SIG.
    </p>

    <div class="fr-grid-row fr-grid-row--gutters">
    <%- include('partials/tile',
    {
      title: 'Signaler un problème',
      description: "",
      url: 'https://github.com/betagouv/template-design-system-de-l-etat/issues/new',
      size: '3',
      img: '',
    })
    -%>

    <%- include('partials/tile',
    {
      title: 'Contribuer au code source',
      description: "",
      url: 'https://github.com/betagouv/template-design-system-de-l-etat/',
      size: '3',
      img: '',
    })
    -%>
    </div>

  </div>
</div>
</main>
<%- include('partials/footer') -%>
