<%- include('partials/header') -%>
<main role="main" id="contenu">	
<div class="rf-container rf-pb-6w rf-pt-2w">
  <h1>Ressources utiles</h1>
  <ul>
    <li><a href="https://gouvfr.atlassian.net/wiki/spaces/DB/pages/223019574/D+veloppeurs">Documentation officielle du Design System</a></li>
</ul>
<h2>Sites utilisant le Design Sytem de l'État</h2>
<!-- TODO le truc sans image -->

<p>Liste est non exhaustive et maintenue manuellement.</p>
<div class="rf-grid-row rf-grid-row--gutters">
    <%- include('partials/tile',
    {
      title: 'Santé Psy Étudiant',
      url: 'https://www.santepsyetudiants.beta.gouv.fr/',
    })
    -%>

    <%- include('partials/tile',
    {
      title: 'Volontaires Fonction Publique',
      url: 'https://volontaires.fonction-publique.gouv.fr/',
    })
    -%>

    <%- include('partials/tile',
    {
      title: 'AudioConf',
      url: 'https://audioconf.numerique.gouv.fr/',
    })
    -%>

    <%- include('partials/tile',
    {
      title: 'deces.matchid.io',
      url: 'https://deces.matchid.io/',
    })
    -%>

    <%- include('partials/tile',
    {
      title: "L'Annuaire des Entreprises",
      url: 'https://annuaire-entreprises.data.gouv.fr/',
    })
    -%>

    <%- include('partials/tile',
    {
      title: "France Relance",
      url: 'https://www.gouvernement.fr/france-relance',
    })
    -%>

    <%- include('partials/tile',
    {
      title: "Conseiller Numérique",
      url: 'https://www.conseiller-numerique.gouv.fr/',
    })
    -%>

</div>

</div>
</main>
<%- include('partials/footer') -%>
