<%- include('partials/header') -%>
<div class="rf-container rf-pb-6w rf-pt-2w">
  <h1>Ressources utiles</h1>
  <ul>
    <li><a href="https://gouvfr.atlassian.net/wiki/spaces/DB/pages/223019574/D+veloppeurs">Documentation officielle du Design System</a></li>
</ul>
<h2>Sites utilisant le Design Sytem de l'État</h2>
<!-- TODO le truc sans image -->
<div class="rf-grid-row rf-grid-row--gutters">
    <%- include('partials/card',
    {
      title: 'Santé Psy Étudiant',
      description: "par beta.gouv.fr",
      url: 'https://www.santepsyetudiants.beta.gouv.fr/',
      img: '/static/images/screens/sante-psy-etudiant.png',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Volontaires Fonction Publique',
      description: "par beta.gouv.fr",
      url: 'https://volontaires.fonction-publique.gouv.fr/',
      img: '/static/images/screens/sante-psy-etudiant.png',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'AudioConf',
      description: "par beta.gouv.fr",
      url: 'https://audioconf.numerique.gouv.fr/',
      img: '/static/images/screens/sante-psy-etudiant.png',
    })
    -%>

</div>
<ul>
    <li>
        <a href="https://deces.matchid.io/">deces.matchid.io</a>
    </li>
    <li>
        <a href="https://trackdechets.beta.gouv.fr/">trackdechets.beta.gouv.fr</a>
    </li>
    <li>
        <a href="https://annuaire-entreprises.data.gouv.fr/">l'Annuaire des Entreprises</a>
    </li>
  </ul>
</div>
<%- include('partials/footer') -%>
