<%- include('partials/header') -%>
<main role="main" id="contenu">

<div class="fr-container fr-mb-8w">
    <%- include('partials/ariane', { items: [
            { label: 'Accueil', url: '/' },
            { label: 'Ressources' },
        ],})
    -%>

  <h1 id="ressources">Ressources utiles</h1>

  <div class="fr-grid-row fr-grid-row--gutters fr-pb-6w">
    <%- include('partials/card',
    {
      title: 'Site officiel',
      description:"",
      url: 'https://systeme-de-design.gouv.fr/',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Documentation du Design System',
      description:"",
      url: 'https://gouvfr.atlassian.net/wiki/spaces/DB/pages/223019574/D+veloppeurs',
    })
    -%>
  </div>

<h1 id="examples">Utilisation du Design System</h1>

<p>Ces sites utilisent le Design Sytem de l'État. Cette liste est non exhaustive et maintenue manuellement.</p>

<p><a class="fr-link fr-fi-add-line fr-link--icon-plus" href="https://github.com/betagouv/template-design-system-de-l-etat/issues/new">Référencer un autre site</a></p>

<div class="fr-grid-row fr-grid-row--gutters fr-pb-6w">


    <%- include('partials/card',
    {
      title: 'Apilos',
      description:"Plateforme de relation entre bailleurs de logements sociaux et services de l'État",
      url: 'https://apilos.beta.gouv.fr',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'ASP',
      description:"Agence de services et de paiement",
      url: 'https://www.asp-public.fr/',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'AudioConf',
      description:"Conférences téléphoniques pour les agents de l'État",
      url: 'https://audioconf.numerique.gouv.fr/',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'beta.gouv.fr',
      description:"Incubateur de service numérique de l'État",
      url: 'https://beta.gouv.fr/',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Civils de la Défense',
      description:"Portail d'information autour du recrutement de civils par le Ministère des Armées",
      url: 'https://www.civils.defense.gouv.fr/',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Code.gouv.fr',
      description:"Code sources du service public",
      url: 'https://code.gouv.fr/',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Fichiers des décès',
      description:'Recherche libre parmi les 25 millions de décès depuis 1970',
      url: 'https://deces.matchid.io/',
    })
    -%>

    <%- include('partials/card',
    {
      title: "France Identité",
      description:"Service d'identification en ligne",
      url: 'https://france-identite.gouv.fr/',
    })
    -%>

    <%- include('partials/card',
    {
      title: "France Relance",
      description:'Feuille de route pour la refondation économique, sociale et écologique du pays',
      url: 'https://www.gouvernement.fr/france-relance',
    })
    -%>

    <%- include('partials/card',
    {
      title: "Grand Mémorial",
      description:"Base nationale des registres matricules des Archives départementales et fichiers des Morts pour la France du ministère des Armées.",
      url: 'http://www.culture.fr/Genealogie/Grand-Memorial',
    })
    -%>

    <%- include('partials/card',
    {
      title: "Information Manipulation Analyzer",
      description:'Évaluer et chiffrer les campagnes de manipulation de l’information sur Twitter',
      url: 'https://disinfo.quaidorsay.fr/information-manipulation-analyzer',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'La Gendarmerie recrute',
      description:'Site officiel du recrutement en gendarmerie',
      url: 'https://www.gendarmerie.interieur.gouv.fr/recrutement',
    })
    -%>

    <%- include('partials/card',
    {
      title: "L'Annuaire des Entreprises",
      description:'Informations publiques concernant les entreprises françaises',
      url: 'https://annuaire-entreprises.data.gouv.fr/',
    })
    -%>

    <%- include('partials/card',
    {
      title: "Ministère de l'intérieur",
      description:"",
      url: 'https://interieur.gouv.fr/',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Numérique écoresponsable',
      description:'Mission interministérielle pour réduire les impacts environnementaux numériques',
      url: 'https://ecoresponsable.numerique.gouv.fr/',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Open Collectivités',
      description:"Portail d'informations statistiques sur les collectivités locales",
      url: 'https://www.open-collectivites.fr/',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Santé Psy Étudiant',
      description:'Accompagnement psychologique pour les étudiants',
      url: 'https://santepsy.etudiant.gouv.fr/',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Volontaires Fonction Publique',
      description:"Mise à disposition d'agents publics pour renforcer les équipes pendant la crise sanitaire",
      url: 'https://volontaires.fonction-publique.gouv.fr/',
    })
    -%>

</div>
<p><a class="fr-link fr-fi-add-line fr-link--icon-plus" href="https://github.com/betagouv/template-design-system-de-l-etat/issues/new">Référencer un autre site</a></p>


  <h1 id="librairies">Librairies</h1>

  <p>Le Design System FR a été porté par des équipes sous forme de librairie ou bibliothèque de composants.</p>

  <div class="fr-grid-row fr-grid-row--gutters fr-pb-6w">
    <%- include('partials/card',
    {
      title: "Angular",
      description:'',
      url: 'https://github.com/lilletech/angular-template-design-system-de-l-etat',
    })
    -%>
    <%- include('partials/card',
    {
      title: "Django",
      description:'',
      url: 'https://github.com/entrepreneur-interet-general/django-dsfr',
    })
    -%>
    <%- include('partials/card',
    {
      title: "React",
      description:'',
      url: 'https://github.com/dataesr/react-dsfr',
    })
    -%>
    <%- include('partials/card',
    {
      title: "VueJS",
      description:'',
      url: 'https://github.com/dnum-mi/vue-dsfr',
    })
    -%>
    <%- include('partials/card',
    {
      title: "Svelte",
      description:'',
      url: 'https://github.com/rhanka/svelte-dsfr',
    })
    -%>
  </div>

<p><a class="fr-link fr-fi-add-line fr-link--icon-plus" href="https://github.com/betagouv/template-design-system-de-l-etat/issues/new">Référencer une nouvelle librairie</a></p>

</div>
</main>
<%- include('partials/footer') -%>
