<%- include('partials/header') -%>
<main role="main" id="contenu">	

<div class="fr-container fr-pb-6w fr-pt-6w">

  <h1>Ressources utiles</h1>

  <div class="fr-grid-row fr-grid-row--gutters fr-pb-6w">
    <%- include('partials/card',
    {
      title: 'Site officiel',
      description:"",
      url: 'https://systeme-de-design.gouv.fr/',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Documentation du Design System',
      description:"",
      url: 'https://gouvfr.atlassian.net/wiki/spaces/DB/pages/223019574/D+veloppeurs',
    })
    -%>
  </div>

<h1>Utilisation du Design System</h1>

<p>Ces sites utilisent le Design Sytem de l'État. Cette liste est non exhaustive et maintenue manuellement.</p>

<div class="fr-grid-row fr-grid-row--gutters fr-pb-6w">

    <%- include('partials/card',
    {
      title: "Ministère de l'intérieur",
      description:"",
      url: 'https://interieur.gouv.fr/',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'beta.gouv.fr',
      description:"Incubateur de service numérique de l'État",
      url: 'https://beta.gouv.fr/',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Numérique écoresponsable',
      description:'Mission interministérielle pour réduire les impacts environnementaux numériques',
      url: 'https://ecoresponsable.numerique.gouv.fr/',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Open Collectivités',
      description:"Portail qui rassemble des informations statistiques sur les collectivités locales",
      url: 'https://www.open-collectivites.fr/',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Santé Psy Étudiant',
      description:'Accompagnement psychologique pour les étudiants',
      url: 'https://santepsy.etudiant.gouv.fr/',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Volontaires Fonction Publique',
      description:"Mise à disposition d'agents publics pour renforcer les équipes pendant la crise sanitaire",
      url: 'https://volontaires.fonction-publique.gouv.fr/',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'AudioConf',
      description:"Conférences téléphoniques pour les agents de l'État",
      url: 'https://audioconf.numerique.gouv.fr/',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Fichiers des décès',
      description:'Recherche libre parmi les 25 millions de décès depuis 1970',
      url: 'https://deces.matchid.io/',
    })
    -%>

    <%- include('partials/card',
    {
      title: "L'Annuaire des Entreprises",
      description:'Informations publiques concernant les entreprises françaises',
      url: 'https://annuaire-entreprises.data.gouv.fr/',
    })
    -%>

    <%- include('partials/card',
    {
      title: "France Relance",
      description:'Feuille de route pour la refondation économique, sociale et écologique du pays',
      url: 'https://www.gouvernement.fr/france-relance',
    })
    -%>
</div>

  <h1>Librairies</h1>

  <div class="fr-grid-row fr-grid-row--gutters fr-pb-6w">
    <%- include('partials/card',
    {
      title: "Angular",
      description:'',
      url: 'https://github.com/lilletech/angular-template-design-system-de-l-etat',
    })
    -%>
  </div>

</div>
</main>
<%- include('partials/footer') -%>
